/* Общие стили для html и body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Стили для внешнего контейнера списка продуктов */
.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Светлый серый фон */
    height: 100%;
}

/* Стили для контейнера поиска */
.search-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Стили для поля ввода поиска */
.search-input {
    width: 100%;
    padding: 12px; /* Немного увеличил внутренний отступ для удобства ввода */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* Плавная анимация при изменении границы */
}

.search-input:focus {
    outline: none;
    border-color: black; /* Цвет обводки при фокусе */
}

/* Стили для контейнера списка продуктов */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Адаптивные колонки */
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1200px; /* Максимальная ширина списка */
}

/* Стили для элемента продукта */
.product-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; /* Обрезаем содержимое, чтобы скругленные углы корректно отображались */
}

.product-item:hover {
    transform: translateY(-5px); /* Легкий подъем при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Стили для ссылки продукта */
.product-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

/* Стили для изображения продукта */
.product-image {
    width: 100%;
    height: 200px; /* Фиксированная высота изображения */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Стили для информации о продукте */
.product-info {
    padding: 20px; /* Больший внутренний отступ */
}

/* Стили для названия продукта */
.product-name {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Стили для цены продукта */
.product-price {
    font-size: 18px;
    color: #008000; /* Цвет цены */
    font-weight: bold;
}
